@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

#weatherWrapper {
  width: 100%; /* Ocupar todo el ancho disponible */
  max-width: 450px; /* Establecer un ancho máximo más pequeño */
  display: flex;
  flex-wrap: wrap; /* Permitir que los hijos se envuelvan */
  border-radius: 10px;
  border: 0.5px solid #060706;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  margin: 1% 3%;
  margin-left: auto; /* Mover el contenedor hacia la derecha */
  margin-right: auto; /* Mover el contenedor hacia la derecha */
}

.weatherCard {
  width: 100%; /* Ocupar todo el ancho disponible */
  display: flex;
  flex-wrap: wrap; /* Permitir que los hijos se envuelvan */
}

.currentTemp,
.currentWeather {
  flex: 1; /* Ocupar el mismo espacio */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  box-sizing: border-box; /* Asegurar que el padding no afecte el tamaño */
  padding: 10px; /* Reducir padding para la separación */
}

.currentTemp {
  background: #272727;
  color: #2ab2ea;
}

.currentWeather {
  background: #f1f1f1;
  color: #272727;
}

.temp {
  font-size: 30px; /* Reducir tamaño de la fuente */
  font-weight: 700;
  margin: 0;
}

.location {
  color: #f1f1f1;
  font-weight: 700;
  font-size: 13px; /* Reducir tamaño de la fuente */
  margin: 0;
  text-align: center;
}

.conditions {
  font-family: weathericons;
  font-size: 30px; /* Reducir tamaño de la fuente */
  text-align: center;
  color: #1ab2f3;
}

.info {
  width: 100%; /* Ocupar todo el ancho disponible */
  background: #eef5f8;
  font-weight: 700;
  color: #272727;
  text-align: center;
  box-sizing: border-box;
  padding: 5px; /* Reducir padding */
  font-size: 15px; /* Reducir tamaño de la fuente */
  margin: 0;
}

/* Media queries para pantallas más pequeñas */
@media only screen and (max-width: 300px) {
  .currentTemp,
  .currentWeather {
    width: 100%; /* Ocupar todo el ancho disponible en pantallas pequeñas */
    height: auto; /* Ajustar la altura automáticamente */
  }

  .conditions {
    font-size: 20px;
  }
}
