.ApiClima {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerApi {
  background-color: #87d9ff; /* Cambia el color a celeste */
  padding: 30px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-info {
  margin-bottom: 20px;
}

.formApi input {
  margin-right: 10px;
}