@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

#weatherWrapper {
  width: 30%; /* Ocupa el 10% del contenedor principal */
  max-width: 250px; /* Ancho máximo para pantallas grandes */
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  align-items: center; /* Centrar elementos horizontalmente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 3%; /* Ajusta el margen según tus necesidades */
  box-sizing: border-box;
  transition: all 0.3s ease;
}


.weatherCard {
  width: 100%; /* Ocupar todo el ancho disponible */
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  align-items: center; /* Centrar elementos horizontalmente */
  transition: all 0.3s ease;  /* Transición suave para cambios */
}

.currentTemp,
.currentWeather {
  width: 100%;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  box-sizing: border-box;
  padding: 5px; /* Reducir padding */
  height: 33px;
}

.currentTemp {
  background: #272727;
  color: #2ab2ea;
  border-radius: 10px 10px 0 0; /* Redondear bordes superiores */
  display: flex;
  flex-direction: row; /* Alinear elementos en fila */
  justify-content: center; /* Centrar elementos horizontalmente */
  align-items: center; /* Centrar elementos verticalmente */
}


.temp {
  font-size: 24px; /* Reducir tamaño de la fuente */
  font-weight: 700;
  margin: 0;
  margin-right: 5px; /* Añadir margen derecho para separar de la ubicación */
}

.location {
  color: #2ab2ea;
  font-weight: 700;
  font-size: 12px; /* Reducir tamaño de la fuente */
  margin: 0;
}

.currentWeather {
  background: #f1f1f1;
  color: #272727;
  border-radius: 0 0 10px 10px; /* Redondear bordes inferiores */
  display: flex; /* Asegurarse de que los elementos se alineen correctamente */
  justify-content: center; /* Centrar elementos horizontalmente */
  align-items: center; /* Centrar elementos verticalmente */
}


.conditions {
  font-family: weathericons;
  font-size: 24px; /* Reducir tamaño de la fuente */
  text-align: center;
  color: #1ab2f3;
}


.info {
  width: 100%;
  background: #eef5f8;
  font-weight: 700;
  color: #272727;
  text-align: center;
  box-sizing: border-box;
  /* padding: 5px; */ /* Reducir padding */
  font-size: 17px; /* Reducir tamaño de la fuente */
  /* margin: 20px; */
}


/* Media queries para pantallas más pequeñas */
@media only screen and (max-width: 650px) {
  #weatherWrapper {
    width: 30%; /* Ajusta el ancho para pantallas más pequeñas */
    margin: 0 15px; /* Reducir el margen en pantallas más pequeñas */
    
  }
 
  .info {
    font-size: 13px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }
}

@media only screen and (max-width: 450px) {
  #weatherWrapper {
    width: 35%; /* Ajusta el ancho para pantallas muy pequeñas */
    margin: 0 13px; /* Reducir el margen en pantallas muy pequeñas */
  }

  .temp {
    font-size: 20px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }

  .location {
    font-size: 13px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }

  .conditions {
    font-size: 25px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }

  .info {
    font-size: 13px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }


@media only screen and (max-width: 350px) {
  #weatherWrapper {
    width: 50%; /* Ajusta el ancho para pantallas muy pequeñas */
    margin: 0 2px; /* Reducir el margen en pantallas muy pequeñas */
  }

  .temp {
    font-size: 20px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }

  .location {
    font-size: 10px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }

  .conditions {
    font-size: 20px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }

  .info {
    font-size: 10px; /* Reducir tamaño de la fuente en pantallas muy pequeñas */
  }
 }
}


/* SEARCH */

.search-container {
  display: flex;
  align-items: center;
  background-color: #f8f8f8; /* Color de fondo más claro para un aspecto limpio */
  padding: 8px; /* Reducir padding para un diseño más compacto */
  border-radius: 25px; /* Bordes más redondeados para un diseño moderno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 600px; /* Ajusta este valor según tus necesidades */
  width: 100%;
  margin: 20px auto; /* Centra el contenedor horizontalmente y añade margen superior e inferior */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.search-input {
  border: none; /* Eliminar el borde para un diseño más limpio */
  border-radius: 25px 0 0 25px; /* Bordes redondeados solo en el lado izquierdo */
  padding: 10px 15px; /* Padding ajustado */
  font-size: 16px;
  flex: 1;
  outline: none; /* Eliminar el borde de enfoque predeterminado */
}

.search-button {
  background-color: #09ff00;
  border: none; /* Eliminar el borde */
  color: white;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0; /* Bordes redondeados solo en el lado derecho */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.search-button:hover {
  background-color: #0056b3;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 400px) {
  .search-container {
    padding: 5px; /* Reducir padding en pantallas más pequeñas */
    border-radius: 15px; /* Bordes menos redondeados en pantallas más pequeñas */
  }

  .search-input {
    padding: 8px 10px; /* Reducir padding en pantallas más pequeñas */
    font-size: 14px; /* Reducir tamaño de fuente en pantallas más pequeñas */
  }

  .search-button {
    padding: 8px 15px; /* Reducir padding en pantallas más pequeñas */
  }
}