.card {
  width: 18rem; /* Ajusta el ancho de acuerdo a tus necesidades */
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

.card-img-top {
  overflow: hidden;
  height: 200px; /* Altura de la imagen */
}

.card-img-top img {
  object-fit: cover;
  height: 100%; /* Ajusta la imagen */
}

.card-title {
  font-size: 1.2rem; /* Tamaño del título */
}

.card-text {
  font-size: 1rem; /* Tamaño del texto */
}

.card-body {
  padding: 1.25rem; /* Ajusta el relleno del cuerpo */
}

.btn-primary {
  margin-top: 10px; /* Espacio entre el texto y el botón */
}
