.btn-customMisDatos {
  background-color: #3696f6;
  border-color: #3696f6;
  color: white;
  transition: all 0.3s ease;
}

.btn-customMisDatos:hover {
  background-color: #2670c3;
  border-color: #2670c3;
}

@media (max-width: 768px) {
  .btn-customMisDatos {
    width: 100%;
  }
  .btn-customDelete {
    width: 100%;
  }
}

.btn-customDelete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-customDelete:hover {
  background-color: #c82333;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
