.bg {
  background-color: #3992cdec;
}
.dropdown-item:hover {
  background-color: #3992cdec;
  color: white;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler.custom-border {
  border-color: white;
}

.separator {
  border-top: 1px solid white;
  margin-top: 0.5rem;
}

.navbar-nav .nav-link {
  color: white;
}
.my-custom-link:hover,
.my-custom-link:focus,
.my-custom-link:active {
  color: black;
}

.navbar-nav .nav-link,
.my-custom-link {
  color: white;
  text-decoration: none;
}
