.Cuadro {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #000000;
  position: relative;
 
}

.Cuadro img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.Plan {
  border: 2px solid #125291; 
  font-size: 17px;
  text-align: center;
  padding: 15px;
  margin: 1% 3.5%;
  flex: 1; 
  min-width: 250px; 
  
  display: flex;
  flex-direction: column;
  

}

.button-container {
  display: flex;
  justify-content: center;
}

.NombrePlan {
  text-align: center;
  font-size: 30px;
  margin: 35px;
}

.cuadro img {
  max-width: 100%;
}

.Planes-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

@media (max-width: 600px) {
  .Planes-container {
    flex-direction: column;
  }
}


.button-custom {
  background-color: #3696f6;
  border-color: #003366;
  color: white;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.74);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.74);
}

.formulario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

}

.formulario-container h2 {
  margin-bottom: 20px;
  
}

form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 30px;
}

form .mb-3 {
  margin-bottom: 15px;
}

form .form-label {
  font-weight: bold;
}

form .form-control {
  border-radius: 4px;
  padding: 10px;
}

form button {
  width: 50%;
  padding: 10px;
  font-size: 16px;
}

form .button-container {
  display: flex;
  justify-content: center;
}