.descripcion-Profesionales {
  padding: 20px;
  background-color: #f8f9fa;
  overflow-x: hidden; 
}
.comentario-input-error {
  border: 1px solid red;
}

.Profesionales-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profesional {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.is-invalid {
  border-color: red;
}

.Circulo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.Circulo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.info-Profesional {
  text-align: center;
}

.NombreProfesional {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ProfesionalDescripcion {
  margin-top: 15px;
}

.Descripcion {
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
}

.Horario ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.Horario ul li::before {
  content: "●";
  margin-right: 8px;
}


@media (max-width: 1400px) {
  .profesional {
    margin: 20px auto; 
    max-width: 90%;
  }

  .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .profesional {
    margin: 20px auto; 
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .profesional {
    margin: 10px auto; 
    width: 100%;
    max-width: 90%; 
  }
}


.reseñas {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reseñas .resena {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reseñas .resena p {
  margin: 0;
}

.comentarios {
  margin-top: 3rem;
}

.comentarios h3 {
  margin-bottom: 1.5rem;
}

.comentarios .form-group {
  margin-bottom: 1.5rem;
}

.comentarios .form-group label {
  font-weight: bold;
}

.comentarios .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.comentarios .btn {
  border-radius: 0.50rem;
}

.comentarios .star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.star-rating .fa-star {
  font-size: 2rem;
  color: #ffc107;
  cursor: pointer;
}

.star-rating .fa-star-o {
  font-size: 2rem;
  color: #e4e5e9;
  cursor: pointer;
}


.comentarios .row {
  justify-content: center;
}

.comentarios .col-12 {
  max-width: 600px;
}

@media (max-width: 767px) {
  .comentarios .col-12 {
    padding: 0 1rem;
  }
}

.comentarios-lista .comentario {
  border-bottom: 1px solid #e9ecef;
  padding: 1rem 0;
}

.comentarios-lista .comentario:last-child {
  border-bottom: none;
}

.comentarios-lista .comentario p {
  margin: 0.5rem 0;
}

.comentarios-lista .comentario strong {
  display: block;
  margin-top: 0.5rem;
}

.comentarios-lista .comentario small {
  color: #6c757d;
}