.video-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 25px;
}

.video-container iframe {
  width: 70%;
  height: 450px;
}

.descripcion-general {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
}

.descripcion-general h1 {
  margin-bottom: 5px;
}

.descripcion-general h4 {
  font-size: 22px;
  line-height: 1.3;
}

.circulo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #000000;
  position: relative;
  background-size: cover;
  background-position: center;
}

.circulo.foto-rodrigo {
  background-image: url("https://res.cloudinary.com/duexhxoyy/image/upload/v1719667565/Rodrigo_hrdztz.jpg");
}

.circulo.foto-jose {
  background-image: url("https://res.cloudinary.com/duexhxoyy/image/upload/v1719667565/Jose_aancnj.png");
}

.circulo.foto-lisandro {
  background-image: url("https://res.cloudinary.com/duexhxoyy/image/upload/v1719667565/Lisandro_xtw5hp.jpg");
}

.integrante {
  border: 1px solid #000000;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  flex: 1 1 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
}

.Nombres {
  text-align: center;
  font-size: 30px;
  margin: 35px;
}

.integrante img {
  max-width: 100%;
}

.integrantes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .integrantes-container {
    flex-direction: column;
  }
}
